<% provide :title, t(:menulinks_addition) %>

<header>
  <h4><%= t(:menulink_addition) %></h4>
</header>

<article>
  <%= form_for @menulink,
        :url => {
                :controller => :menulinks,
                :action => :create,
        } do |f| %>
    <%= render 'menulink_form', :f => f %>
    <button type="submit"><%= t 'add', :obj => t(:menulink_obj) %></button>
  <% end %>
</article>
