<% provide :title, (t 'common.errors.not_implemented.title' ) %>
<header>
  <h3><%= t 'common.errors.not_implemented.title' %></h3>
</header>

<article>
  <p><%= t 'common.errors.not_implemented.desc' %></p>
</article>
