<% provide(:title, (t 'tracker.title')) %>

<header>
  <h3><%= t 'tracker.title' %></h3>
</header>

<article>
  <div class="tracker_container">
    <% @tracker.each do |line| %>
      <div class="tracker_line">
        <div class="tracker_link">
          <%= link_to line.title, line.obj.absolute_url %>
        </div>
        <div class="tracker_post_info">
          <p><%= line.obj.user.nick %></p>
          <p><%= l line.created_at, :format => :long %></p>
        </div>
      </div>
    <% end %>
  </div>
</article>
