@import url(http://fonts.googleapis.com/css?family=Play:400,700);

// All-in-one style file :)
// Divides by sections

// Before everything: CSS Reset

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 98%;
    vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: Play, Sans, Verdana, Helvetica, serif;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

// CSS Reset end

// =====================================================================================================================
// = Common parameters =================================================================================================
// =====================================================================================================================

// Colors, used in site.
// Please, don't use inline colors in any part of CSS/SCSS.

$red: #a40000;
$yellow: #fcaf3e;
$gray: #babdb6;
$dark-gray: #2e3436;
$steel: #555753;
$white: #d3d7cf;
$blue: #729fcf;
$green: #8ae234;

// Usable classes-like-inline-stylers.

.clear {
  clear: both;
}

.center-block {
  margin: 0 auto;
}

.center {
  text-align: center;
}

.rightfloat {
  float: right;
  clear: both;
}


// Usable mixins

@mixin padding {
  padding: 1%;
}

@mixin margin {
  margin: 1%;
}

@mixin ramochka_mikhaila {
  border-radius: 8px;
}

// General theming

body {
  background-color: $dark-gray;
  color: $white;
  font-size: 1em;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  line-height: 1.2em;
}

// Links

a {
  color: $yellow;
  text-decoration: none;
}

// Typography

h3 {
  font-size: 1.75em;
  line-height: 1.95em;
  font-weight: bold;
}

h4 {
  font-size: 1.5em;
  line-height: 1.7em;
}

p {
  margin: 8px 0;
  &.small {
    margin: 0;
    font-size: 8pt;
  }
}

i, em {
  font-style: italic;
}

ul {
  margin-left: 30px;
  list-style: square;
}

b {
  font-weight: bold;
}
// Error messages

.flash {
  @include padding;
  @include margin;
  @include ramochka_mikhaila;
}

.flash_error {
  background: $red;
}

.flash_notice {
  background: $green;
  color: $dark-gray;
}

// Forms

input, select {
  width: 40em;
}

input[type="checkbox"] {
  width: 1em;
}

div.field_with_errors {
  margin: 0;
  padding: 0;
}

// Tables

table {
  width: 92%;
  margin-left: 4%;
  border: 1px solid $gray;
}

tr {
  min-height: 2.2em;
  line-height: 2.2em;
  &:hover {
    background: $gray;
    color: $dark-gray;
    a {
      color: $dark-gray;
    }
  }
  &.small {
    min-height: 1.1em;
    line-height: 1.1em;
    &:hover {
      background: $dark-gray;
      color: $white;
    }
  }
}

th {
  background: $gray;
  color: $dark-gray;
}

// =====================================================================================================================

// Header

.siteheader {
  position: relative;
  padding-bottom: 0.2em;
}

.logo {
  display: block;
  width: 10em;
  height: 2.2em;
  line-height: 2.2em;
  text-align: center;
  font-weight: bold;
}

// Footer

// Content

.content {
  @include padding;
  min-height: 100px;
}

// =====================================================================================================================

// Forum

// =====================================================================================================================

// Forum list

.forum_container {
    border: 1px solid #eee;
}

.metaforum {
    background-color: #888;
    margin-bottom: 5px;
    border: 1px solid #000;
}

.forum_data {
    height: 4em;
}

.forum {
    float: left;
    width: 59%;
    background-color: #555;
    margin: 0;
    padding: 0;
    min-height: 4em;
    padding-left: 5px;
}

.forum_posts {
    float: left;
    width: 10%;
    background-color: #555;
    text-align: center;
    min-height: 4em;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
}

.forum_last_topic {
    float: left;
    width: 30%;
    background-color: #555;
    min-height: 4em;
    padding-right: 5px;
    text-align: right;
}

.forum_index_avatar {
    padding-top: 5px;
    width: 48px;
    float: right;
    padding-left: 5px;
    @include ramochka_mikhaila
}

// Post

.post {
  margin: 10px;
  background: $steel;
}

.post_info {
    float: left;
    width: 100%;
    background-color: #424242;
    padding: 5px;
    padding-right: 0;
}

p.user_name {
    font-size: 1.3em;
    text-align: center;
}

.user_info {
    float: left;
    width: 13%;
    min-height: 220px;

    background-color: #424242;
    padding: 5px;
}

.user_data {
    font-size: 0.8em;
    background: #888;
    padding: 5px;
    border-radius: 5px;
}

.message {
  position: relative;
  float: left;
  width: 85%;
  margin-left: 5px;
}

.avatar {
  width: 100%;
  text-align: center;
  img {
    @include ramochka_mikhaila;
  }
}

textarea {
    width: 98%;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px;
}

button {
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 3px;
}

.add_comment {
    float: left;
    width: 85%;
    margin-left: 5px;
}

.response-to-message {
  display: none;
}
